body {

  margin: 0px;
  padding: 0px;
}

a {
   outline: 0;
}

a:hover .control-icon{
  filter: brightness(85%);
}

#control-panel {
  margin: 10px;
  right:0px;
  border-radius: 3px;
  width: 10%;
  position: fixed;
  z-index: 2000;
  background-color:#e9e9e9;
  box-shadow: 0px 2px 4px 0px #a6a6a6;
  /* opacity: 0.9; */
}

label{
    font-family:sans-serif;
}

.control-dropdown {
  /* margin: 5px 5px 2px 5px; */
  /* box-shadow: 0px 2px 2px; */
  padding: 5px 0px 5px 0px;
	/* border-radius:6px; */
  width: 100%;
  text-align: center;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  background-color:#e9e9e9;
  /* border-radius: 0px 0px 3px 3px; */
}
/* .control-dropdown:hover {
	background-color:#bfbfbf;
}
.control-dropdown:active {
  	background-color:#a6a6a6;
	} */

.control-label{
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  color: white;
  text-shadow:0px 1px 0px #b3b3b3;
  padding: 5px 0px 5px 0px;
  font-size: 14px;
  font-family:sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #4F77BB;
}

.control-buttons{
  display: flex;
    justify-content: center;

}

.control-icon{
  margin: 0.5vw;
  height:auto;
  width: 3.5vw;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #a6a6a6;
}



#legend{
  background-color: none;
}

#tax1 {
  height:30px;
  width:auto;
  position:fixed;
  right:130px;
  top: 133px;
  z-index: 3000;
}
#tax2 {
  height:30px;
  width:auto;
  position:fixed;
  right:130px;
  top: 165px;
  z-index: 3000;
}
#tax3 {
  height:30px;
  width:auto;
  position:fixed;
  right:130px;
  top: 197px;
  z-index: 3000;
}
#tax4 {
  height:30px;
  width:auto;
  position:fixed;
  right:130px;
  top: 229px;
  z-index: 3000;
}

#mapid {
    width: 100%;
    min-width: 800px;
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
}

.header{
  height: 50px;
  width: 100%;
  text-align: left;
  vertical-align: top;
  line-height: 1.7;
  background-color: #447BDC;
}

#page-title{
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  font-size: 100px;
  width: 400px;
  height: 100px;
  margin: auto;
  font-family: sans-serif;
  color: #447BDC;
  text-align:center;
  font-weight: bold;

}

#loading{
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;
  font-size: 6vw;
  width: 400px;
  height: 100px;
  margin: auto;
  font-family: sans-serif;
  color: #447BDC;
  text-align:center;
  font-weight: bold;

}

.leaflet-control{
  opacity:0.7;
}

.leaflet-marker-icon{
  transform:rotate(90);
}


#default {
  color: #bebebe;
}

.swal-title, .swal-text {
  font-family: sans-serif;
}

.swal-overlay {
  background-color: rgb(79, 119, 187, 0.45);
}

.swal-modal{
  opacity:1;
}
